<header class="header_alta">
					        <h2>LISTADO DE ENTIDADES RECEPTORAS</h2>
</header>
<div class="boton_agregar">
<a href="../controller/c_alta_entidad_receptora.php" title="agregar entidad receptora"> Agregar Entidad Receptora </a>
</div>
<table id="tabla_listado_alimentos">
        <thead class="especial">
                            <tr>
                                 <th>RAZON SOCIAL</th>
                                 <th>TELEFONO</th>
                                 <th>DOMICILIO</th>
                                 <th>SERVICIO PRESTADO</th>
								 <th>ESTADO</th>
								 <th>NECESIDAD</th>
								<th colspan="3">OPERACIONES</th>
                            </tr>
        </thead>
        <tbody>
						   <?php foreach ($entidades_receptoras as $r_e){?>
						                  <tr>
										      <td><?php echo $r_e['razon_social'];?></td>
											  <td><?php echo $r_e['telefono'];?></td>
										      <td><?php echo $r_e['domicilio'];?></td> 
										      <td><?php echo $r_e['servicio_prestado'];?></td>
											  <td><?php echo $r_e['estado'];?></td> 
											  <td><?php echo $r_e['necesidad'];?></td> 
											  <td><a href="../controller/c_edit_entidad_receptora.php?id_entidad_receptora=<?php echo $r_e['id_entidad_receptora'];?>" title="editar">editar</a></td> 
											  <td> <a href="../controller/c_delete_entidad_receptora.php?id_entidad_receptora=<?php echo $r_e['id_entidad_receptora'];?>" title="agregar">eliminar</a></td>
										  </tr>
							<?php }?>					
        </tbody>
</table>