<a href="javascript:history.back()" class = "volver" title="volver"> <img class="imagen_volver" src="../views/default/images/volver.png" alt="Volver"> </a>
<header class="header_alta">
					        <h2>ALARMA - PROXIMOS VENCIMIMIENTOS</h2>
</header>
<table id="tabla_listado_alimentos">
        <thead class="especial">
                            <tr>
							     <th>CODIGO</th>
                                 <th>DESCRIPCION</th>
								 <th>CANTIDAD CONTENIDO</th>
								 <th>X</th>
                                 <th>PESO UNITARIO</th>
                                 <th>MEDIDA</th>
								 <th>FECHA VENCIMIENTO</th>
								 <th>DIAS RESTANTES PARA SU VENCIMIENTO</th>
								 <th>STOCK</th>
								 <th colspan="3">OPERACIONES</th>
                            </tr>
        </thead>
        <tbody>
						   <?php foreach ($list_proximos_vencimientos as $p_v){
						         $nuevafecha = strtotime ( '+'.$cantidad_dias_limite['valor'].'day' , strtotime ( $p_v['fecha_vencimiento'] ) ) ;
                                 $nuevafecha = date ( 'Y-m-d' , $nuevafecha );
								 $dias_restantes= (strtotime($nuevafecha)-strtotime(date('Y-m-d')))/86400;?>
						         <?php if ( strtotime(date('Y-m-d')) < strtotime($nuevafecha) and $dias_restantes <= 31 ){?>
						                  <tr>

										      <td><?php echo $p_v['codigo'];?></td>
											  <td><?php echo $p_v['descripcion'];?></td>
											  <td><?php echo $p_v['cantidad_contenido'];?></td>
											  <td>x</td>
										      <td><?php echo $p_v['peso_unitario'];?></td> 
											  <td><?php echo $p_v['medida'];?></td>
										      <td><?php echo $nuevafecha;?></td>
											  <td><?php echo $dias_restantes;?></td>
											  <td><?php echo $p_v['stock'];?></td>
											  <td> <a href="../controller/c_alimento_entrega_directa.php?detalle_alimento_id=<?php echo $p_v['id_detalle_alimento'];?>&alimento_descripcion=<?php echo $p_v['descripcion'];?>" title="Entrega Directa">Entrega Directa</a></td>
										  </tr>
							     <?php }?>			  
							<?php }?>					
        </tbody>
</table>