	    <article id="operaciones">
	     <header>
			    <h4>ALERTAS</h4>
	   	 </header>
		 
		    <table id="tabla_listado_alertas">
                     <thead class ="especial">
                            <tr>
							     <th>Tipos De Alertas</th>
                            </tr>
                     </thead>
                     <tbody>
						                  <tr>
										      <td><a href="../controller/c_alerta_pedidos.php" title="ver pedidos"> PEDIDOS PARA HOY <?php echo date(date('Y-m-d'));?></a></td>
										  </tr>	
										  <tr>
										      <td><a href="../controller/c_alerta_proximos_vencimientos.php" title="ver proximos vencimientos">PROXIMOS VENCIMIENTOS</a></td>									  
											 
										  </tr>
                     </tbody>
             </table>
         <footer>
		         <h4>En esta seccion podra encontrar todas las operaciones necesarias para la administracion de alimentos donados.</h4> 
	     </footer> 			 
		</article>